<html>

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.clarkhacks.com/OpenDyslexic/v1/OpenDyslexic.css">
    <style>
        * {
            font-family: OpenDyslexic;
        }

        textarea {
            font-size: 16px;
        }

        .mot {
            font-weight: 600;
            font-size: large;
        }

        .highlight {
            background-color: rgb(252, 252, 109); 
            /* text-decoration-line: underline; */
        }

        .synonymes {
            color: blue;
        }
    </style>
</head>

<body>
    deeplexique

    <div id="app_deeplexique">
        <textarea v-model="text" cols="100">

        </textarea>
        <button @click="cherche_vocabulaire">Chercher vocabulaire</button>
        {{erreur}}

        <div>
            <span v-for="mot_plus_syno in mot_synonyme" :class="{ highlight: mot_plus_syno[1] != null }"
                :title="mot_plus_syno[1]">
                {{mot_plus_syno[0]}}
            </span>
        </div>

        <ul>
            <li v-for="mot in vocabulaires_list">
                <div class="mot"> {{mot[0]}}</div>
                <span class="synonymes"> {{mot[1]}}</span>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app_deeplexique',
            data: {
                text: "C'était une de ces jolies et charmantes filles, nées, comme par une erreur du destin, dans une famille d'employés",
                vocabulaires: {},
                erreur: "",
                mot_synonyme: []
            },
            computed: {
                mots() {
                    return this.text.split(/ /);
                },
            },
            methods: {
                cherche_vocabulaire() {
                    var http = new XMLHttpRequest()
                    http.open("POST", "/api/syno");
                    http.setRequestHeader("content-type", "application/json");
                    http.onload = () => {
                        const vocabulaires_object = JSON.parse(http.responseText);
                        this.vocabulaires_list = Object.entries(vocabulaires_object);

                        this.mot_synonyme = this.mots.map(m => [m, vocabulaires_object[m.replace(',', '').replace("d'", '')]])
                        
                        this.erreur = this.vocabulaires_list.length == 0 ? "Texte vide ou sans mot détecté" : "";
                    }
                    http.send(JSON.stringify(this.text));
                }
            }
        })

        console.log("test")
    </script>
</body>

</html>