{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/write_assist.css') }}">
<!-- <uidiv> -->
<div id="warning">
  <h1 style="font-weight:500;">Speech Recognition Speech SDK not found (microsoft.cognitiveservices.speech.sdk.bundle.js
    missing).</h1>
</div>

<style type="text/css">
  #crayon{
    display: flex;
    justify-content: center;
    /*padding: 20px;*/
    margin-left: 120px;
  }

  h3{
    margin-right: 220px;
    margin-top: 30px;
  }

  #startRecognizeOnceAsyncButton, #stopButton, #clearButton {
    outline-style: none;
  }
</style>

<div id="crayon">
  <td><img src="static/img/crayon.png" style="width: 100px; margin-right: 20px"></td>
  <h3 style="text-align: center;">Ecriture assistée</h3>
</div>

<div id="content-text" style="display:none">
  <table id=tableau>
    <!--
        <tr>
          <td colspan="2"><h1 style="font-weight:500;">Deeplexique</h1></td>
        </tr>
        -->
    <tr>
      <td id="startRecognize">
        <button id="startRecognizeOnceAsyncButton">Enregistrer</button>
      </td>
      <td id="clButton">
        <button id="stopButton">Stop</button>
        <button id="clearButton">Effacer</button></td>
    </tr>
    <tr>
      <td colspan="2"><textarea id="phraseDiv"></textarea></td>
    </tr>
  </table>
</div>
<!-- </uidiv> -->

<!-- <speechsdkref> -->
<!-- Speech SDK reference sdk. -->
<script src="{{ url_for('static', filename='js/microsoft.cognitiveservices.speech.sdk.bundle.js') }}"></script>
<!-- </speechsdkref> -->

<!-- <authorizationfunction> -->
<!-- Speech SDK Authorization token -->
<script>

    //https://francecentral.api.cognitive.microsoft.com/sts/v1.0/issueToken


</script>
<!-- </authorizationfunction> -->

<!-- <quickstartcode> -->
<!-- Speech SDK USAGE -->
<script>
  // status fields and start button in UI
  var phraseDiv;
  var startRecognizeButton, stopRecognizeButton;
  var clearButton;

  // subscription key and region for speech services.
  var subscriptionKey, serviceRegion;
  var authorizationToken;
  var SpeechSDK;
  var recognizer;

  serviceRegion = "francecentral";
  subscriptionKey = "0cf90ceec03c44a6942e8ae5066457ee";

  document.addEventListener("DOMContentLoaded", function () {
    stopRecognizeButton = document.getElementById("startRecognizeOnceAsyncButton");
    startRecognizeButton = document.getElementById("startRecognizeOnceAsyncButton");
    clearButton = document.getElementById("clearButton");
    phraseDiv = document.getElementById("phraseDiv");

    stopButton.addEventListener("click", function () {
      recognizer.stopContinuousRecognitionAsync(
        function () {
          recognizer.close();
          recognizer = undefined;
        },
        function (err) {
          recognizer.close();
          recognizer = undefined;
        });
    });

    clearButton.addEventListener("click", function () {
      phraseDiv.value = '';
      phraseDiv.innerHTML = "";
    });

    startRecognizeButton.addEventListener("click", function () {
      startRecognizeButton.disabled = true;
      if (phraseDiv.innerHTML !== "") {
        phraseDiv.innerHTML += "\n";
        phraseDiv.value += "\n";
      }

      // if we got an authorization token, use the token. Otherwise use the provided subscription key
      var speechConfig;
      if (false) {
        speechConfig = SpeechSDK.SpeechConfig.fromAuthorizationToken(authorizationToken, serviceRegion);
      } else {
        speechConfig = SpeechSDK.SpeechConfig.fromSubscription(subscriptionKey, serviceRegion);
      }

      speechConfig.speechRecognitionLanguage = "fr-FR";
      var audioConfig = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
      recognizer = new SpeechSDK.SpeechRecognizer(speechConfig, audioConfig);

      recognizer.recognized = function (s, e) {
        window.console.log(e);
        startRecognizeButton.disabled = false;

        phraseDiv.value += e.result.text + "\r\n";
        phraseDiv.innerHTML = lastRecognized;
      };
      recognizer.startContinuousRecognitionAsync()
    });

    if (!!window.SpeechSDK) {
      SpeechSDK = window.SpeechSDK;
      startRecognizeOnceAsyncButton.disabled = false;

      document.getElementById('content-text').style.display = 'block';
      document.getElementById('warning').style.display = 'none';

    }
  });
</script>
<!-- </quickstartcode> -->
{% endblock content %}