{% extends "base.html" %}
{% block content %}
    <h1>La dyslexie, c’est quoi?</h1>

    <p>C’est un trouble de l’apprentissage fréquemment retrouvé chez les enfants. Il se présente comme un dysfonctionnement cérébral ou psychique et ses répercussions sont souvent retrouvées dans le langage et l’écriture (difficulté à acquérir la lecture, l’écriture et orthographe).<p>


    <h3>Les différentes formes de la dyslexie :</h3>

    <U><p> - La dyslexie phonologique (60% des cas) - </p></U>

    <p>C’est la forme du trouble la plus courante. Elle est caractérisée par une difficulté voire une incapacité pour l’enfant à associer une lettre à un son. L’enfant a donc du mal à reconnaître et à mémoriser des mots, ce qui entraîne une pauvreté importante du lexique orthographique.</p>

    <p>Un enfant qui souffre de dyslexie phonologique éprouve des difficultés à :</p>
    <ul>
        <li>reconnaître des lettres, des syllabes ou des mots</li>
        <li>lire des mots peu utilisés</li>
        <li>épeler des mots</li>
        <li>s’exprimer de manière orale</li>
        <li>apprendre les tables de multiplication</li>
    </ul>
    <br>
    <U><p>La dyslexie dyséidétique (30% des cas)</p></U>

    <p>Connue comme dyslexie lexicale, elle est caractérisée par un trouble visuo-attentionnel, l’enfant qui en souffre a du mal avec la lecture, car s’il ne peut reconnaître des mots visuellement, il est également incapable de mettre en place des stratégies orthographiques pour y remédier. Décomposant les mots lettre par lettre, il souffre d’une incapacité à visualiser les mots dans sa tête, et ce, en dépit d’une bonne locution.</p>

    <p>Le dyslexique lexical présente donc des difficultés à :</p>
    <ul>
        <li>reconnaître les mots, car il ne peut pas les visualiser dans sa tête</li>
        <li>épeler et à lire des mots complexes et irréguliers</li>
        <li>faire la différence entre les mots qui se ressemblent</li>
        <li>écrire correctement les mots, car il se base surtout sur la phonétique</li>
        <li>assimiler des langues étrangères</li>
        <li>apprendre les tables de multiplication</li>
    </ul>
    <br>
    <U><p>La dyslexie mixte (10% des cas)</p></U>

    <p>Elle associe les deux formes de dyslexie précédentes. Les enfants éprouvent donc des difficultés à comprendre, à reconnaître et à assembler son et lettre réunis. Ils ont souvent du mal à mémoriser des mots ce qui rend la lecture et la compréhension très difficile.</p>

    <br>
    <p>La dyslexie est souvent associée à d’autres troubles…</p>

    
    <p>La dysorthographie : Difficulté à apprendre les règles de grammaire et d’orthographe</p>
    
    <p>La dyscalculie : C’est la difficulté avec l’utilisation des nombres et un déficit du raisonnement logique.</p>
    
    <p>La dysphraxie : Problème de coordination, moteur (confondu avec de la maladraisse)</p>

    <p>La dysgraphie : Difficulté avec l’écriture associé à des troubles de l’attention comme l’hyperactivité, le manque d’attention, l’impulsivité.</p>
{% endblock content %}