{% extends "base.html" %}
{% block content %}


<style type="text/css">

	.box1 {
		display: flex;
		align-items: center;
  		justify-content: center;
  		padding-top: 35px;
	}

	.box img {
  		width: 150px;
  		height: 150px;
  		margin-top: 28px;
	}

	h2 {
		text-align: center;
		padding-top: 52px;
	}

</style>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>En cours de développement...</h2>
<div class="box1">
	<img src="static/img/giphy.gif" class="center">
</div>
</body>
</html>


{% endblock content %}