

/* vocabulary page */


#app_vocabulaire textarea {
    font-size: 16px;
  }
  
  #app_vocabulaire .mot {
    font-weight: 600;
    font-size: large;
  }
  
  #app_vocabulaire .highlight {
    background-color: rgb(252, 252, 109); 
    /* text-decoration-line: underline; */
  }
  
  #app_vocabulaire .synonymes {
    color: blue;
  }
  
  #app_vocabulaire .result{
    font-size: large;
    font-weight: 700;
  }

button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.5rem;
    font-family: OpenDyslexic;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px #000;
    border-radius: 1000px;
    background-color:   #5CF992;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);@
}


button:hover {
    background-color: green;
}